@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

Web URL: <input type="text" id="url" /></br>
Password: <input type="text" id="password" /></br>
<button type="button" onclick="logIn()">Click Me!</button>
 <label id="results"></label>

@section scripts{ 
<script type="text/javascript">


    function logIn() {

        var urlVal = $('#url').val();
        console.log(urlVal);

        var url = urlVal + '/Service1.svc/getAllSettings';
        $.ajax({
            type: 'GET',
            url: url,
            dataType: 'json',
            success: function (data) {
                console.log(data);
                var temp = data.getAllSettingsResult;
                //console.log(temp);
                for (var index in temp) {
                    if (temp[index].Key == "password") {
                        var val = temp[index].Value;
                    }
                }
                var pass = $("#password").val();
                var url = $("#url").val();
                //alert(val);
                if (pass == val) {
                    window.location.href = 'Lists';
                    //alert(1);
                }
                else {
                    window.location.href = 'Home';
                }
            }
        });
    }

    function callService() {

        return '{"getAllSettingsResult":[{"Key":"name","Value":"McDonalds"},{"Key":"password","Value":"admin"}]}';

    }
    


</script>

}