@{
    ViewBag.Title = "Login";
}

<div class="login" >
<table>
<tr><th><h3>Login</h3></th></tr>

<tr><td>Web URL: </td><td><input type="text" id="url" /></td></tr>
<tr><td>Password: </td><td><input type="password" id="password" /></td></tr>
<tr><td></td></tr>
<tr><td></td><td><button type="button" onclick="logIn()">Click Me!</button></td></tr>
</table>
<label id="results"></label>
</div>

@section scripts{ 
<script type="text/javascript">


    function logIn() {

        var urlVal = $('#url').val();
        console.log(urlVal);  
        

        var url = urlVal + '/Service1.svc/getAllSettings';
        $.ajax({
            type: 'GET',
            url: url,
            dataType: 'json',
            success: function (data) {
                var temp = data.getAllSettingsResult;
                console.log(temp);
                for (var index in temp) {
                    if (temp[index].Key == "password") {
                        var val = temp[index].Value;
                    }
                    else if (temp[index].Key == "logo") {
                        var image = temp[index].Value;
                    }
                    else if (temp[index].Key == "name") {
                        var name = temp[index].Value;
                    }

                }
                var pass = $("#password").val();
                if (pass == val) {
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("SaveToSession")',
                        contentType: "application/json; charset=utf-8", //што праќаме
                        data: JSON.stringify({ url: urlVal, image: image, name: name }),
                        success: function (data) {
                            window.location.href = 'Lists';
                        }
                    });
                }
                else {
                    window.location.href = 'Home';
                }
            }
        });


    }

    


</script>

}
