@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

Web URL: <input type="text" id="url" /></br>
Password: <input type="text" name="password" /></br>
<button type="button" onclick="callJson()">Click Me!</button>
 <label id="results"></label>

@section scripts{ 
<script type="text/javascript">

    function callJson() {
        alert(1);
        var urlVal = $('#url').val();
      //  alert(urlVal);
        $.ajax({

            type: "GET",
           // url: "http://rmservice-bb.apphb.com/Service1.svc/getAllSettings", //Име на ф-цијата во контролерот
            url: "http://google.com",
            //contentType: "application/json; charset=utf-8",
           dataType: "jsonp",
            success: function (data) {
                //alert(data);
                $("#results").append(data);
                

            },

            error: function (xhr, ajaxOptions, thrownError) {
             alert(xhr.status);
            alert(thrownError);
      
      }

        });
       
    }

</script>

}