@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

Web URL: <input type="text" id="url" /></br>
Password: <input type="text" id="password" /></br>
<button type="button" onclick="logIn()">Click Me!</button>
 <label id="results"></label>

@section scripts{ 
<script type="text/javascript">

    function logIn() {

        var result = callService();
        
        var obj = jQuery.parseJSON(result);
        var temp = obj.getAllSettingsResult;
        //console.log(temp);
        for (var index in temp) {
            if (temp[index].Key == "password") {
                var val = temp[index].Value;
            }
        }
        var pass = $("#password").val();
        var url = $("#url").val();
        //alert(val);
        if (url == "http://rmservice-bb.apphb.com" && pass == val) {
            alert("It's ok!");
        }
        else {
            alert("Try again!");
        }
    }

    function callService() {

        return '{"getAllSettingsResult":[{"Key":"name","Value":"McDonalds"},{"Key":"password","Value":"admink"}]}';

    }
    


</script>

}