@{
    ViewBag.Title = "Index";
}

<div id='content'>
       <table> 
       <tr>
       <td>
        <div id='jqxWidget'>
        </div>
        </td>
        <td>
        <div id='jqxWidgetGroups'></div> 
        </td>
        <td>
        <div id="selectionlog"></div>
        </td>
        </tr>
       </table>
        
</div>

@section scripts{ 
<script type="text/javascript">

    $(document).ready(function () {
        // prepare the data
        var source =
                {
                    datatype: "json",
                    datafields: [
                        { name: 'title' },
                        { name: 'subtitle' },
                        { name: 'backgroundImage' }
                    ],
                    id: 'id',
                    url: 'http://rmservice-bb.apphb.com/Service1.svc/getAllGroups'

                };


        var dataAdapter = new $.jqx.dataAdapter(source);
        // Create a jqxListBox
        $("#jqxWidget").jqxListBox({
            source: dataAdapter,
            displayMember: "title",
            valueMember: "subtitle",
            width: 400,
            height: 350,
            theme: '',
            renderer: function (index, label, value) {
                var records = dataAdapter.records;
                var table = "";
                table = '<table style="min-width: 150px;"><tr><td style="width:15px;"><img src="' + records[index].backgroundImage + '"height="50" width="50"></td><td colspan="2">' +'<b>'+ records[index].title + '</b>'+'</br>' + records[index].subtitle + '</td></tr></table>';



                return table;
            } 
        });

        $("#jqxWidget").on('select', function (event) {

            var args = event.args;
            var index = args.item.index;
            var url = 'http://rmservice-bb.apphb.com/Service1.svc/getAllItemsByGroup?group=group' + (index + 1);
            var source =
                {
                    datatype: "json",
                    datafields: [
                        { name: 'title' },
                        { name: 'subtitle' },
                        { name: 'description' },
                        { name: 'backgroundImage' },
                        { name: 'content' }
                        
                    ],
                    id: 'id',
                    url: url

                };

            var dataAdapter = new $.jqx.dataAdapter(source, {
                downloadComplete: function (data, status, xhr) { },
                loadComplete: function (data) { },
                loadError: function (xhr, status, error) { }
            });

            $("#jqxWidgetGroups").jqxListBox({ source: dataAdapter,

                displayMember: "title",
                valueMember: "subtitle",
                width: 400,
                height: 350,
                theme: '',
                renderer: function (index, label, value) {
                    var records = dataAdapter.records;
                    var table = "";
                    table = '<table style="min-width: 150px;"><tr><td style="width:15px;"><img src="' + records[index].backgroundImage + '"height="30" width="30"></td><td>' + records[index].title + '</td></tr></table>';
                    return table;
                } 

            });

            $("#jqxWidgetGroups").unbind('select');
            $("#jqxWidgetGroups").bind('select', function (event) {
                if (event.args) {
                    var item = event.args.item;
                    if (item) {
                        var valueelement = $("<div></div>");
                        valueelement.html("</br>Price: "+item.value);
                        var labelelement = $("<div></div>");
                        labelelement.html("<b>" + item.label + "</b>");
                        // var descr = $("<div></div>");
                        // valueelement.html(item.descr);
                        var descr = item.originalItem.description;
                        var img = item.originalItem.backgroundImage;
                        var cont = item.originalItem.content;
                        console.log(img);
                        var hiddenelement = $("<div><input type='hidden' id='description'/>" + descr + " </br></br>" + cont + "</div>");
                        var pictures = $("<div>" + "<img src='" + img + "'height='200' width='300'></div>");
                        //console.log(hiddenelement);
                        $("#selectionlog").children().remove();
                        $("#selectionlog").append(labelelement);
                        $("#selectionlog").append(hiddenelement);
                        $("#selectionlog").append(valueelement);
                        $("#selectionlog").append(pictures);
                    }
                }
            });
        });



    });

</script>

}